$font-size-base                  :28rpx;
$font-size-sm                    :24rpx;
$font-size-smr                   :20rpx;
$font-size-lg                    :32rpx;
$font-size-lgr                   :36rpx;
$font-size-icon                  :16rpx;
$primary-color                   :#333;
$less-color                      :#999;
$tips-color                      :#666;
$link-color                      :#FD6B36;
$price-color                     :#FF4437;

$border-color-base               :#eee;
 [v-cloak]{
	display: none !important;
}
.primary-title {
	color: $primary-color;
	font-size: $font-size-base;
	font-weight: bold;
}
.primary-text {
	color: $less-color;
	font-size: $font-size-base;
}
.sm-text {
	color: $less-color;
	font-size: $font-size-sm;
}
.link-text {
	color: $link-color;
	font-size: $font-size-sm;
}
.tips-text {
	color: $tips-color;
	font-size: $font-size-sm;
}
.ellipsis2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.default-tag {
	display: inline-block;
	padding: 1px 4px;
	border-radius: 4rpx;
	background: rgba(233, 90, 39, 0.1);
	color: #E8541E;
	margin-right: 10rpx;
	font-size: 24rpx;
}

uni-tabbar .uni-tabbar__icon {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    width: 21px !important;
    height: 20px !important;
}
uni-tabbar .uni-tabbar__label{
	// color: #0460EE !important;
}
.space-between{
	display: flex;
	justify-content:space-between;
}
.flex-wrap{
	display: flex;
	// wrap-reverse
	flex-wrap: wrap ;
}
.ellipsis{
	overflow:hidden; //超出的文本隐藏
	text-overflow:ellipsis; //溢出用省略号显示
	white-space:nowrap; //溢出不换行
}
.shopsName{
	overflow:hidden; //超出的文本隐藏
	text-overflow:ellipsis; //溢出用省略号显示
	white-space:nowrap; //溢出不换行
	max-width: 70%;
}
.noDetails{
			text-align: center;
			color: #cccccc;
			font-size: 24rpx;
			.icon{
				color: #DDDDDD;
				padding-top: 40%;
				margin-bottom: 10px;
				display:block !important;
				font-size: 150rpx !important;
			}
}

.addIMG{
	    font-size: 80rpx;
	    color: #999999;
		margin-top: 12px;
}
.cu-avatar{
	background-color:inherit;
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}
image{
	object-fit: contain !important;
}
.default{
	display: inline-block;
	padding: 1px 4px;
	border-radius: 4rpx;
	font-weight:400 !important;
	background: rgba(233, 90, 39, 0.1);
	color: #E8541E;	
	margin-left: 10rpx;
	font-size: 24rpx;
}



::-webkit-input-placeholder { /* WebKit browsers */
  color: #CCCCCC;
 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #CCCCCC;
 
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #CCCCCC;
}  
/*每个页面公共css */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
// 上传图片
.addIMG{
	color: #CCCCCC !important;
	font-size: 91rpx !important;
	margin-top: 23px!important;

}
.solids::after{
			border: 0 ;
}
.grid.col-4.grid-square>view {
	padding-bottom: calc((100% - 60rpx)/3) !important;
	height: 0;
	width: calc((100% - 60rpx)/3) !important;
}
.grid.grid-square>view{
	border-radius:10px;
}
.upload-img{
	position: relative;
	.right-trilateral{
		position: absolute;
		right: 0;
		width: 0;
		height: 0;
		border-top: 60rpx solid #FFFFFF;
		border-left: 60rpx solid transparent; 
	}
	.right-icon{
		position: absolute;
		right: 0;
		font-size: 18rpx;
		color: red;
		z-index: 1;
		top: 8rpx;
		right: 10rpx;
	}
	

}
.more{
	height:17px;
	font-size:12px;
	color:rgba(168,176,183,1);
	line-height:17px;
	vertical-align: middle;
}
.flex-center{
	display: flex;
	align-items: center;
}
.flex-center-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.flex{
	display: flex;
}
.xie-write {
	width: 220rpx;
	height: 76rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 1);
	box-shadow: 4rpx 10rpx 40rpx 0rpx rgba(0, 0, 0, 0.1);
	border-radius: 38rpx;
	position: fixed;
	right: 40rpx;
	bottom: 40rpx;
	/*  #ifdef  H5  */
	bottom: 120rpx;
	display: flex;
	align-items: center;
	/*  #endif  */
	line-height: 36rpx;
	color: #0460EE;
	z-index: 9;
	image{
		height: 36rpx;
		width: 36rpx;
		padding-right: 20rpx;
	}
	.iconfont {
		padding-right: 20rpx;
	}

	.xiedongtai {
		font-size: 28rpx;
		font-weight: 600;
		color: rgba(72, 79, 89, 1);
	}
}
.send_iconfont{
	color: #398bfc !important;
}
.flex{
	display: flex;
}
page{
	background: #F1F4F7;
}

.cu-list+.cu-list {
	margin-top: 30rpx
}

.cu-list .cu-item {
	transition: all .6s ease-in-out 0s;
	transform: translateX(0rpx)
}

.cu-list .cu-item.move-cur {
	transform: translateX(-260rpx)
}

.cu-list .cu-item .move {
	position: absolute;
	right: 0;
	display: flex;
	width: 260rpx;
	height: 100%;
	transform: translateX(100%)
}

.cu-list .cu-item .move view {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center
}

.cu-list.menu-avatar {
	overflow: hidden;
}

.cu-list.menu-avatar .cu-item {
	position: relative;
	display: flex;
	padding-right: 10rpx;
	height: 140rpx;
	background-color: #ffffff;
	justify-content: flex-end;
	align-items: center
}

.cu-list.menu-avatar .cu-item .cu-avatar {
	position: absolute;
	left: 30rpx
}

.cu-list.menu-avatar .cu-item{
	position: relative;
	display: flex;
	padding-right: 10rpx;
	height: auto;
	background-color: #fff;
	justify-content: flex-end;
	align-items: center;
}
::-webkit-scrollbar  
{  
	display: none !important;
    width: 0px;  
    height: 0px;  
}
.fz-icon{
	font-size: $font-size-icon;
}
.phone-icon{
	font-size: 24rpx !important;
}